<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <a href="/">home</a>
        <a href="/listtask">list all task</a><br>
        <form action = "addmytask" method="POST">
            task name: <input type = "text" name="taskname"/><br>
            task due date : <input type = "text" name="taskduedate"/> <br>
            task description : <input type = "text" name="description"/> <br><br>
            <button>
                Submit
            </button>
            
        </form>
        
    </body>
</html>